*{
    box-sizing: border-box;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(205, 205, 205);
}
header{
    width: 100%;
}
.container{
    display: flex;
    background-color: #FA6A01;
    height: 220px;
    padding: 10px;
}
.logo1{
    margin-left: 300px;
    cursor: pointer;
}
nav{
    margin-top: 50px;
    margin-left: 600px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}
li{
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
    background-color: white;
}
li:hover{
    background-color: black;
    transition: 0.7s;
    color: white;
}
#bike1{
    margin: 10px 120px 50px 80px;
    width: 700px;
}
#section1{
    display: flex;
    background-color: #d77833;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.282);
    height: 700px;
}
.info-bike{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}

del{
    color: rgb(178, 9, 9);
}

p{
    margin: 150px 0px 50px 20px;
    font-size: 35px;
}
#destaque{
    color: darkgreen;
}
button{
    width: 200px;
    padding: 10px;
    margin: 20px 0px 0px 30px;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    background-color: darkred;
    transform: translateY(20%);
}
h2{
    text-align: center;
    font-size: 30px;
}
hr{
    width: 360px;
    height: 5px;
    background-color: #FA6A01;
    margin-top: 10px;
    margin-bottom: 100px;
}
#lista-produtos{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 50px;
}
.produto{
    width: 300px;
    height: 400px;
    background-color: #FA6A01;
    margin-bottom: 100px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.produto:hover{
    transform: scale(1.22);
}